body {
	height: 100vh;
	margin: 0;
    padding: 0 16px;
}

header {
    margin-bottom: 16px;
}

input {
    outline: none;
    border: 1px solid green;
    border-radius: 4px;
    padding: 5px;
}

.button {
    border-radius: 4px;
    border: 1px solid green;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    color: green;
    cursor: pointer;
    font-weight: bolder;

    &:hover {
        background-color: #f0f0f0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 16px;

    input{
        margin-bottom: 16px;
    }
}