#game-board {
	display: grid;
	grid-template-columns: repeat(20, 20px);
	grid-template-rows: repeat(20, 20px);
	margin: 5px;
    border: #5a5a5a 1px solid;
    width: 400px;
}

.snake {
	background-color: green;
}
.snake-head {
	background-color: darkgreen;
	border: 3px solid black;
}

.food {
	background-color: red;
}