<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snake Game</title>
  </head>
  <body>
    <a href="/pages/single-player"><button>Single-player game</button></a>
    <a href="/pages/multi-player"><button>Multi-player game</button></a>
    <input type="text" id="messageInput" placeholder="Type a message...">
    <button id="mybut">Send</button>
    <div id="messages"></div>
  </body>
</html>