<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snake Game</title>
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <h1>Snake Game</h1>
    <div>
      <a class="button" href="/single-player">Single-player game</a>
      <a class="button" href="/multi-player">Multi-player game</a>
    </div>
  </body>
</html>