<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi-player Snake Game</title>
  </head>
  <body>
    <h1>Multi-player</h1>
    <header>
      <a href="/"><button>Home</button></a>
    </header>
    <button id="join-random-btn">Join random</button>
    <div id="join-with-guid">
      <label>Enter friend`s guid</label>
      <input type="text" id="messageInput" placeholder="Type guid...">
      <button id="join-with-guid-button">Join a friend</button>
    </div>
    <div id="messages"></div>
    <div id="game-board"></div>
    <script>
        // Create WebSocket connection
        const socket = new WebSocket('ws://localhost:3000');

        // Connection opened
        socket.addEventListener('open', (event) => {
            console.log('Connected to server');
            appendMessage('Connected to server');
        });

        // Listen for messages
        socket.addEventListener('message', (event) => {
            console.log('Message from server:', event.data);
            appendMessage(event.data);
            try {
              event = JSON.parse(event.data);
              if(event.type === 'startGame') {
                const script = document.createElement('script');
                script.src = '/game-engine.js'; // Path to the other JavaScript file
                script.async = true;  // Adds async attribute
                script.defer = true;
                document.head.appendChild(script);
                const link = document.createElement('link');
                link.rel = 'stylesheet';
                link.href = '/game-styles.css'; // Path to the CSS file
                document.head.appendChild(link);
              }
            }
            catch(error) {

            }
        });

        // Handle errors
        socket.addEventListener('error', (event) => {
            console.error('WebSocket error:', event);
            appendMessage('Error: ' + event);
        });

        const joinWithGuid = document.getElementById('join-with-guid-button');
        joinWithGuid.addEventListener('click', (event) => {
            console.log("User clicked join a friend");
            const input = document.getElementById('messageInput');
            const message = input.value;
            const customEvent = {
                type: 'joinMeWith',
                data: message
            };
            socket.send(JSON.stringify(customEvent));
            input.value = '';
        })

        // Send message function
        function sendMessage() {
            const input = document.getElementById('messageInput');
            const message = input.value;
            socket.send(message);
            input.value = '';
        }

        // Append message to div
        function appendMessage(message) {
            const messagesDiv = document.getElementById('messages');
            messagesDiv.innerHTML += `<div>${message}</div>`;
        }



    </script>
  </body>
</html>