<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi-player Snake Game</title>
    <script src="/multiplayer-engine.js" async defer></script>
    <link rel="stylesheet" href="/multiplayer-styles.css" />
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <h1>Multi-player snake</h1>
    <header>
      <a href="/" class="button">Home</a>
    </header>
    <div id="join-with-guid">
      <label>Enter friend`s guid</label>
      <input type="text" id="messageInput" placeholder="Type guid...">
      <button class="button" id="join-with-guid-button">Join a friend</button>
    </div>
    <dvi>
      <span>or join random player</span>
      <button class="button" id="join-random-btn">Join random</button>
    </dvi>
    <div id="messages"></div>
    <div id="game-board"></div>
  </body>
</html>