<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snake Game</title>
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <h1>Register</h1>
    <div class="form">
        <input type="text" id="firstName" placeholder="Enter your first name...">
        <input type="text" id="lastName" placeholder="Enter your last name...">
        <input type="text" id="username" placeholder="Enter username...">
        <input type="text" id="password" placeholder="Enter password...">
        <button class="button" id="mybut">Register</button>
    </div>
        <a class="button" href="/login">Login</a>
    <div id="messages"></div>
  </body>
</html>