<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single-player Snake Game</title>
    <script src="/game-engine.js" async defer></script>
    <link rel="stylesheet" href="/game-styles.css" />
  </head>
  <body>
    <h1>Single-player</h1>
    <header>
      <a href="/"><button>Home</button></a>
    </header>
    <div id="game-board"></div>
  </body>
</html>