<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single-player Snake Game</title>
    <script src="/game-engine.js" async defer></script>
    <link rel="stylesheet" href="/game-styles.css" />
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <h1>Single-player snake</h1>
    <header>
      <a class="button" id="home" href="/">Home</a>
    </header>
    <div class="speed">
      <label>Game speed: </label>
      <select id="speed-select">
        <option selected value="400">Slow</option>
        <option value="200">Medium</option>
        <option value="100">Fast</option>
      </select>
    </div>
    <div>
      <p id="info-banner"></p>
    </div>
    <div id="game-board"></div>
    <div class="container">
      <form class="form" method="post" action="/auth/logout">
        <button class="button" type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>